.portfolio-class {
    margin: 4rem;
    display: flex;

    .panel-class {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin-top: 1rem;
        padding: 1rem;

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
    }
    .btn-width{
        width: 6rem;
    }
    .place-end{
        margin-left: auto;
    }
    .down-arrow{
        width: 1rem;
    }
}