<div class="portfolio-class" fxLayout="column">
    <h2>Portfolio</h2>
    <mat-accordion class="accordion-class m-l-xs" *ngFor="let items of projectDetails; let i = index;">
        <mat-expansion-panel class="panel-class" [expanded]="i === selectedCategory" (opened)="onExpand(i)">
            <mat-expansion-panel-header>
                <span fxLayout="column">
                    <span>{{items.heading}}</span>
                    <span>{{items.subHeading}}</span>
                </span>
            </mat-expansion-panel-header>

            <ul *ngFor="let role of items.roleDescription">
                <li>{{role.roles}}</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</div>