<div fxLayout="row" fxLayout.lt-md="column" class="footer-class" fxLayoutGap.lt-md="1rem">
    <div fxFlex="25%" fxLayout="column">
        <div>Mobile</div>
        <div>+91 9176562257</div>
    </div>
    <div fxFlex="25%" fxLayout="column">
        <div>Email</div>
        <div>Vinitharaghuraman@gmail.com</div>
    </div>
    <div fxFlex="25%" fxLayout="column" class="navigation-class">
        <div>Follow Me</div>
        <div *ngFor="let item of navigationItems" [routerLink]="item.link">
            <img class="img-class pointer-class" src="assets/images/{{item.srcPath}}" [alt]="item.altName"
                (click)="moveToUrl(item.link)" />
        </div>
    </div>
    <div>
        @copyright 2024
    </div>
</div>