@import 'src/styles/spacing.scss';

.hire-class{
    margin: 4rem;
.form-class{
    width:100%;
}
.input-class{
    height:1.5rem;
}
.text-area-class{
    height: 5rem;
}
.btn-class{
    width:6rem;
}



       
    }
    