@import 'src/styles/spacing.scss';

.skills-class {
    margin: 4rem;

    .img-class {
        width: 1.5rem;
        height: 1.5rem;
    }

    .card-class {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 1rem;
        width:20rem;
    }
    .black-underline{
        border-bottom: 1px solid black;
    }
}