
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden; 
}
.pointer-class{
    cursor: pointer;
}

.btn-class {
    background: none;
    margin-top: 1rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    border-radius: 3px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}
